* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7d6bf;
    font-family: sans-serif;
}

main {
    width: 70%;
    max-width: 1200px;
    margin: 32px auto;
}

culinary-list {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}
